/* Background pattern from Toptal Subtle Patterns */

body{
  background-image: url("bg.png");
  font-family: 'Josefin Sans', sans-serif;
}

.scrollable{
	height: 193px;
	overflow-y: auto;
	overflow-x: hidden;
}

.scrollable_table{
	height: 330px;
	overflow-y: auto;
	overflow-x: hidden;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #6c757d;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .topnav {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  }